*~
data_validation/analysis_validation/region_comparison/FlavourSplitPlots/*/results_*
data_validation/analysis_validation/region_comparison/Plots/*/results*
data_validation/analysis_validation/merged_samples
data_validation/analysis_validation/region_comparison/ANv5/results*
data_validation/analysis_validation/merged_samples/AN*
data_validation/analysis_validation/merged_samples/*log
data_validation/analysis_validation/era_comparison/EE_2016/results*
data_validation/analysis_validation/era_comparison/EE_2016/201*
Tag_Probe/Results
data/Run2UltraLegacy_v3/*/*/copyFiles.sh
TMVA/LeptonID/BATCHSubmit
TMVA/LeptonID/Validation
Analyzers/.vscode/
*.pyc
*.pcm
*.d
*.so
*_Dict.cxx
TMVA/*/*.root
TMVA/LeptonID/dataset
TMVA/LeptonID/BATCHSubmit/BDTA
TMVA/LeptonID/Validation/*/log*
lib
lib/*.tar.gz
lib/*.rootmap
*/obj
*/*/obj
HNDiLeptonWorskspace
python/UserInfo_*.py
python/UserInfo_template.py
TMVA/dataset