*~
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/logs_Nov/
data_validation/analysis_validation/region_comparison/FlavourSplitPlots/CR3/__pycache__
data_validation/analysis_validation/limit_input_comparison/SR3/log_scan/
data_validation/analysis_validation/limit_input_comparison/SR1/old_codes/
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/log_scan/
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/logs_v1/
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/logs_v2/
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/logs_v0/
data_validation/analysis_validation/bdt_input/plots_v3_vs_v4/
data_validation/analysis_validation/bdt_input/Plot_BDT_Shape/plots/
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/plots
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/plots_fomratios/
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/plots_version0/
data_validation/analysis_validation/limit_input_comparison/SR2/log_scan/
data_validation/analysis_validation/bdt_input/plots_v2_vs_v3/
data_validation/analysis_validation/limit_input_comparison/SR1/log*
data_validation/analysis_validation/region_comparison/Plots/ControlRegionLLL/results_lll_ratio*
data_validation/analysis_validation/limit_input_comparison/NonBDT/log_scan/
data_validation/analysis_validation/limit_input_comparison/NonBDT/logs
data_validation/analysis_validation/limit_input_comparison/NonBDT/log
data_validation/analysis_validation/limit_input_comparison/BDTScan/DetailedScan/LooseScan/log_scan/
data_validation/analysis_validation/limit_input_comparison/BDTScan/DetailedScan/LooseScan/logs
data_validation/analysis_validation/limit_input_comparison/BDTScan/DetailedScan/log_scan/
data_validation/analysis_validation/limit_input_comparison/BDTScan/DetailedScan/logs
data_validation/analysis_validation/limit_input_comparison/BDTScan/DetailedScan/plots
data_validation/analysis_validation/limit_input_comparison/BDTScan/ClusterOpt/logs
data_validation/analysis_validation/limit_input_comparison/BDTScan/LooseScan/logs
data_validation/analysis_validation/limit_input_comparison/BDTScan/logs/
data_validation/analysis_validation/limit_input_comparison/BDTScan/log_scan/
data_validation/analysis_validation/region_comparison/FlavourSplitPlots/*/results_*
data_validation/analysis_validation/region_comparison/Plots/*/results*
data_validation/analysis_validation/merged_samples
data_validation/analysis_validation/region_comparison/ANv5/results*
data_validation/analysis_validation/merged_samples/AN*
data_validation/analysis_validation/merged_samples/*log
data_validation/analysis_validation/era_comparison/EE_2016/results*
data_validation/analysis_validation/era_comparison/EE_2016/201*
Tag_Probe/Results
data/Run2UltraLegacy_v3/*/*/copyFiles.sh
TMVA/LeptonID/BATCHSubmit
TMVA/LeptonID/Validation
Analyzers/.vscode/
*.pyc
*.pcm
*.d
*.so
*_Dict.cxx
TMVA/*/*.root
TMVA/LeptonID/dataset
TMVA/LeptonID/BATCHSubmit/BDTA
TMVA/LeptonID/Validation/*/log*
lib
lib/*.tar.gz
lib/*.rootmap
*/obj
*/*/obj
HNDiLeptonWorskspace
python/UserInfo_*.py
python/UserInfo_template.py
TMVA/dataset